body {
    background-color: #e22;

    .spacer {
        height:24px;
    }

    .App {

        header {
            a {
                color:#fff;
            }
        }

        ul {
            margin-top: 8px;
        }

        a {
            text-decoration: none;
        }
                    
    }

}